/* .master-container {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  background-color: #fafafa;
}

.classmaster-h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

select, input[type="text"] {
  padding: 8px;
  width: 80%;
  margin-top: 8px;
}

button {
  padding: 10px 20px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */
